body {
}
#login_frame{
    background-color:white;
    width:600px;
    min-height:650px;
    margin:50px auto;
    padding:30px 0 30px 0;
    border:solid thin;
    border-color:orange;	
    border-radius:20px;
}
#login_title{
    margin: 10px 0 20px 0;
    font-family:'Times New Roman';
    color:purple;
    font-size:40px;
    text-align:center;
}
#result{
    font-family:'Times New Roman';
    color:blue;
    font-size:35px;
    text-align:center;
}
#content{
    margin-top:10px;
    margin-bottom:30px;
    margin-left:30px;
    float:left;
    width:100%;
}
#name{
    margin-left:153px;
    width:220px;
    height:25px;
    font-size:25px;
    color:purple;
}
#code{
    margin-left:160px;
    width:150px;
    height:25px;
    font-size:25px;
    color:purple;
}
#password_old{
    margin-left:78px;
    width:220px;
    height:25px;
    font-size:16px;
    color:blue;
}
#password_new{
    margin-left:68px;
    width:220px;
    height:25px;
    font-size:16px;
    color:blue;
}
#password_confirm{
    margin-left:30px;
    width:220px;
    height:25px;
    font-size:16px;
    color:blue;
}
#button{
    float:left;
    width:100%;
    text-align:center;
    margin-top:20px;
}
#bt_registration{
    height:40px;
    width:120px;
    font-family:'Times New Roman';
    font-size:20px;
    font-weight:500;
}
#bt_home{
    height:40px;
    width:120px;
    font-family:'Times New Roman';
    font-size:20px;
    font-weight:500;
    background-color:orange;
    margin-left:40px;
}
.comment{
    color:red;
    font-size:15px;
}
.label{
    font-size:25px;
}
.debug{
    margin-left:10px;
    font-size:10px;
}